td {
    border-bottom: 1px solid black;
  }


.tableRow {
    border-bottom: 2px solid black;
}

.button {
    margin : 4px;
    padding: 8px;
    background-color: bisque;
    transition: 0.3s;
    text-align: center;
    opacity: 0.9;
}
.button:hover {
    opacity: 1;
}

.inactiveButton {
    cursor: not-allowed;
    pointer-events: none;
    display: disabled;
    margin : 4px;
    padding: 8px;
    background-color: rgb(231, 219, 219);
    transition: 0.3s;
    text-align: center;
    opacity: 0.9;
}